h1 {
  color: #540707;
  background-image: url();
  font-size: 4rem;
  text-decoration: underline;
}
body {
  text-align: center;
  background-image: url('https://th.bing.com/th/id/OIP.tHFWBBFFqCM5d703lvQYuwHaEK?w=276&h=180&c=7&r=0&o=5&pid=1.7');
}
.center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 5%;
  padding: 1rem;
  /*  width: 50%; */
}
